
@font-face {
	font-family: 'HelveticaNeueCyr-Bold.otf'; 
   	src: url('../fonts/HelveticaNeueCyr-Bold.otf');
   	font-weight: 700;
}
@font-face {
	font-family: 'HelveticaNeueCyr-BoldItalic.otf'; 
   	src: url('../fonts/HelveticaNeueCyr-Bold.otf');
   	font-weight: 700;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Italic'; 
   	src: url('../fonts/HelveticaNeueCyr-Italic.otf');
   	font-weight: 400;
   	font-style: italic;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Light'; 
   	src: url('../fonts/HelveticaNeueCyr-Light.otf');
   	font-weight: 300;
}
@font-face {
	font-family: 'HelveticaNeueCyr-LightItalic'; 
   	src: url('../fonts/HelveticaNeueCyr-Light.otf');
   	font-weight: 300;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Medium'; 
   	src: url('../fonts/HelveticaNeueCyr-Medium.otf');
   	font-weight: 500;
}
@font-face {
	font-family: 'HelveticaNeueCyr-MediumItaicl'; 
   	src: url('../fonts/HelveticaNeueCyr-MediumItaicl.otf');
   	font-weight: 500;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Roman'; 
   	src: url('../fonts/HelveticaNeueCyr-Roman.otf');
   	font-weight: 400;
}

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Regular.eot');
   src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.ttf') format('truetype'),
      url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Bold.eot');
   src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff'),
      url('../fonts/OpenSans-Bold.ttf') format('truetype'),
      url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
   font-weight: 700;
   font-style: normal;
}















